<div ng-app="bolt" ng-controller="LoginCtrl">
    <form name="loginForm" ng-submit="login(credentials)" novalidate>
        <label for="username" translate>login.username</label>
        <input type="text" id="username" ng-model="credentials.username">
        <label for="password" translate>login.password</label>
        <input type="password" id="password" ng-model="credentials.password">
        <button class="btn" type="submit" translate>login.login</button>
    </form>
    <ui-notify event="auth-login-failed" type="warning" message="{{'login.wrongCredentials' | translate}}"/>
</div>